/* @import url('../../keycloak/lib/zocial/zocial.css');*/

body {
    background-color: rgb(63,81,181);
    /*background-image: url('../img/bkgrnd.jpg');*/
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

    color: #fff;
    font-family: sans-serif;
    text-shadow: 0px 0px 10px #000;
    margin: 0px;
}

a {
    color: #fff;
}

/* Change content to change the title of the page*/
div#kc-header::after {
    padding-top: 3px;
    content: 'FeedHenry Work Force Management';
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 15px;
}

div#kc-info {
}

/*title banner size and colour*/
div#kc-header {
    width:100%;
    background-color: rgb(40,53,147);
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    padding-right: 2em;
    padding-left: 3em;
}

div#kc-content {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 95%;
    margin-left: -44%;
}

div#kc-form {

}
/* label change Username, Password text*/
div#kc-form label {
    color: rgba(255, 255, 255, 0.7) !important;
    display: block;
    font-size: 30px;
}
/**/
div#kc-form-login {
    text-align: center;
}

div#info-area {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-top: 45px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    width: 99%;
}

div#info-area p {
    margin-right: 30px;
    display: inline;
    text-shadow: none;
    font-size: 20px;
}
/*fields*/
input[type=text], input[type=password] {
    color: #ddd;
    font-size: 30px;
    margin-bottom: 20px;
    background: none;
    border-width: 0 0 1px 0;
    padding: 12px;
    width: 95%;
}

input[type=text]:hover, input[type=password]:hover {
    background-color: rgba(3,70,114,0.4);
}
/*button*/
input[type=submit] {
    border: none;
    border-radius: 3px;
    background-color: rgb(40,53,147);
    box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
    color: rgba(0,0,0,0.6);
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    margin-top: 3em;
    width: 98%;
}

input[type=submit]:hover {
    background-color: rgba(255,255,255,0.8);
}

div#kc-form-options div {
    display: inline-block;
    margin-right: 20px;
    font-size: 25px;
}

div#kc-form-options div label {
    font-size: 20px;
}

div#kc-feedback {
    box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

div#kc-feedback-wrapper {
    padding: 1em;
}

div.feedback-success {
    background-color: rgba(155,155,255,0.1);
}

div.feedback-warning {
    background-color: rgba(255,175,0,0.1);
}

div.feedback-error {
    background-color: rgba(255,0,0,0.1);
}

div#kc-header-wrapper {
    display: none;
}

div#kc-registration {
    color: rgba(255, 255, 255, 0.7) !important;
    font-size: 1.8em;
    margin-bottom: 20px;
    margin-top: 2em;
}

div#social-login {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    float: right;
    width: 150px;
    padding: 20px 0 200px 40px;
}

div.social-login span {
    display: none;
}

div#kc-social-providers ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

div#kc-social-providers ul li {
    margin-bottom: 20px;
}

div#kc-social-providers ul li span {
    display: inline;
    width: 100px;
}

a.zocial {
    border: none;
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0.1)) !important;
    background: -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0.1)) !important;
    background: -ms-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0.1)) !important;
    background: -o-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0.1)) !important;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
    color: rgba(0,0,0,0.6);
    width: 130px;
    text-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}


/* new */
*{
    box-sizing: border-box;
}
.card-pf{
    margin: 0px;
    background: none;
    border-bottom: none;
    box-shadow: none;
    border-top: none;
    position: fixed;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 5;
}
div#kc-header{
    display: none;
}

#kc-page-title{
    text-indent: -99999999999px;
    width: 270px;
    height: 64px;
    margin: auto;
    background: url('../img/logo-yamaha.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}
#kc-form-wrapper {
    background: #fff;
    width: 100%;
    max-width: 575px;
    margin: auto;
    padding-top: 100px;
    position: relative;
    padding: 50px 50px 50px;
    box-shadow: 0px 1.643070936203003px 6px 0px rgba(112, 144, 176, 0.15);
    margin-top: 30px;
    border-radius: 16px;
}
#kc-form-login:before{
    /* content: 'Đăng nhập'; */
    display: block !important;
    position: absolute;
    left: 50px;
    color: rgba(33, 38, 51, 1);
    font-size: 30px;
    text-shadow: none;
    font-weight: bold;
    top: 50px;
}
#kc-form-login:after{
    /* content: 'Vui lòng dùng tài khoản bạn đã được cấp để đăng nhập!'; */
    display: block !important;
    position: absolute;
    top: 100px;
    left: 50px;
    text-shadow: none;
    color: #525B73;
    font-size: 14px;
    text-shadow: none;
}
.login-pf body{
    background: url('../img/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}
div#kc-content{
    position: static;
    margin-left: 0px;
    width: auto;
}
div#kc-form form label{
    color: #525B73 !important;
    font-size: 17px;
    text-shadow: none;
    font-weight: bold;
    /* text-indent: -9999999px; */
    line-height: 1;
    margin-bottom: 10px;
}
div#kc-form form label[for="username"]::after{
    /* content: 'Tên đăng nhập'; */
    display: block;
    /* text-indent: 0px; */
}
div#kc-form form label[for="password"]::after{
    /* content: 'Mật khẩu'; */
    display: block;
    /* text-indent: 0px; */
}
.form-group input{
    height: 40px;
    width: 100%;
    padding: 2px 8px 2px 16px;
    border-radius: 4px;
    border: 1px solid rgba(226, 230, 242, 1);
    font-size: 14px;
    color: #212633;
    margin-bottom: 0px;
}
.form-group input[aria-invalid="true"]{
    border: 1px solid red;
    outline: none;
    box-shadow: none;
    background-repeat: no-repeat;
}
.form-group input#password[aria-invalid="true"]{
    background-position: right 42px center;
}
span.pf-m-error{
    color: red;
    text-shadow: none;
    font-size: 12px;
}
.form-group input:focus{
    outline: none;
}
.form-group{
    margin-bottom: 8px;
}
.form-group .pf-c-input-group .pf-m-control{
    border: none !important;
    box-shadow: none !important;
    margin-left: 0px;
    position: absolute;
    right: 0px;
    background: none;
    outline: none;
    z-index: 99;
    top: 2px

}
.form-group .pf-c-input-group .pf-m-control::after{
    display: none;
}
.form-group .pf-c-input-group{
    position: relative;
}
.form-group input:hover{
    background: none;
}
.login-pf-settings #kc-form-buttons {
    margin-top: 20px;
}
#kc-form-buttons input{
    height: 40px;
    border: none;
    box-shadow: none;
    margin-top: 0;
    /* text-indent: -99999999px; */
    background: rgba(207, 31, 37, 1);
    position: relative;
    z-index: 999;
}
#kc-form-buttons{
    position: relative;
}
.login-pf-settings{
    margin-bottom: 0px;
}
#kc-form-buttons:after{
    /* content: 'Đăng nhập'; */
    display: block;
    /* text-indent: 0px; */
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    text-align: center;
    height: 100%;
    line-height: 40px;
    background: rgba(207, 31, 37, 1);
    text-shadow: none;
    font-size: 16px;
    letter-spacing: 0.5px;
    width: 100%;
}
.login-pf-settings div a{
    display: inline-block;
    line-height: 1;
    text-shadow: none;
    font-size: 15px;
    color: #575757;
    position: relative;
    margin-top: 12px;
    margin-bottom: 25px;
  }
#kc-form-login .login-pf-settings div a::after{
    /* content: 'Quên mật khẩu?'; */
    display: block;
    /* text-indent: 0px; */
    color: rgba(33, 38, 51, 1);
    bottom: 0;
    position: absolute;
    z-index: 99;
  }
  #kc-reset-password-form{
    background: #fff;
    width: 100%;
    max-width: 575px;
    margin: auto;
    padding-top: 100px;
    position: relative;
    padding: 50px;
    box-shadow: 0px 1.643070936203003px 6px 0px rgba(112, 144, 176, 0.15);
    margin-top: 30px;
    border-radius: 16px;
  }

  #kc-reset-password-form label[for="username"] {
    color: #525B73 !important;
    font-size: 17px;
    text-shadow: none;
    font-weight: bold;
    /* text-indent: -9999999px; */
    line-height: 1;
    margin-bottom: 10px;
}
#kc-passwd-update-form,
  #kc-reset-password-form{
    background: #fff;
    width: 100%;
    max-width: 575px;
    margin: auto;
    padding-top: 100px;
    position: relative;
    padding: 50px;
    box-shadow: 0px 1.643070936203003px 6px 0px rgba(112, 144, 176, 0.15);
    margin-top: 30px;
    border-radius: 16px;
  }

#kc-reset-password-form label[for="username"]::after {
    /* content: 'Tên đăng nhập'; */
    display: block;
    /* text-indent: 0px; */
}
#kc-reset-password-form .form-group .col-xs-12{
    padding-left: 0px;
    padding-right: 0px;
}
#kc-reset-password-form .login-pf-settings #kc-form-options a{
    color: rgba(33, 38, 51, 1);
    text-shadow: none;
    font-size: 14px;
    margin-bottom: 10px;
    display: inline-block;
}
#kc-info-wrapper{
    color: rgb(120 120 120);
    text-shadow: none;
}


#kc-passwd-update-form label[for="password-new"]{
    color: #525B73 !important;
font-size: 17px;
text-shadow: none;
font-weight: bold;
/* text-indent: -9999999px; */
line-height: 1;
margin-bottom: 10px;
}
#kc-passwd-update-form label[for="password-new"]::after {
/* content: 'Mật khẩu mới'; */
display: block;
/* text-indent: 0px; */
}
#kc-passwd-update-form label[for="password-confirm"]{
    color: #525B73 !important;
font-size: 17px;
text-shadow: none;
font-weight: bold;
/* text-indent: -9999999px; */
line-height: 1;
margin-bottom: 10px;
}
#kc-passwd-update-form label[for="password-confirm"]::after {
/* content: 'Nhập lại password'; */
display: block;
/* text-indent: 0px; */
}
#kc-passwd-update-form .form-group .col-xs-12 {
padding-left: 0px;
padding-right: 0px;
}
#kc-passwd-update-form #kc-form-options .checkbox  label{
font-size: 14px;
line-height: 1;
text-shadow: none;
color: #000;
min-height: 0px;
display: flex;
align-items: center;
padding-top: 0px;
gap: 5px;
position: relative;
}
#kc-passwd-update-form #kc-form-options .checkbox label {
    /* text-indent: -999999px; */

}
#kc-passwd-update-form #kc-form-options .checkbox label::after {
    /* content: 'Đăng xuất khỏi các thiết bị khác'; */
    display: block;
    /* text-indent: 0px; */
    top: 0;
    line-height: 40px;
}
#kc-passwd-update-form #kc-form-options .checkbox #logout-sessions{
position: static;
height: 16px;
width: auto;
line-height: 16px;
}

#kc-passwd-update-form #kc-form-buttons input[type="submit"]{
    width: calc(100% - 80px);
}
#kc-passwd-update-form #kc-form-buttons button[name="cancel-aia"] {
    position: absolute;
    right: 0px;
    z-index: 999;
    height: 100%;
    top: 0px;
    border: none;
    /* text-indent: -9999999px; */
    width: 70px;
}
#kc-passwd-update-form #kc-form-buttons button[name="cancel-aia"]::after {
    /* content: 'Hủy'; */
    display: block;
    /* text-indent: 0px; */
    position: absolute;
    top: 0;
    line-height: 40px;
}
#kc-passwd-update-form #kc-form-buttons:after{
    /* content: 'Cập nhật'; */
    width: calc(100% - 80px);
}

#kc-otp-login-form{
    background: #fff;
    width: 100%;
    max-width: 575px;
    margin: auto;
    padding-top: 100px;
    position: relative;
    padding: 50px;
    box-shadow: 0px 1.643070936203003px 6px 0px rgba(112, 144, 176, 0.15);
    margin-top: 30px;
    border-radius: 16px;
}
#kc-otp-login-form label{
    color: #525B73 !important;
    font-size: 17px;
    text-shadow: none;
    font-weight: bold;
    /* text-indent: -9999999px; */
    line-height: 1;
    margin-bottom: 10px;
}
#kc-otp-login-form label[for="emailCode"]::after {
    /* content: 'Vui lòng nhập mã 6 chữ số đã được gửi tới email của bạn.'; */
    display: block;
    /* text-indent: 0px; */
}
#kc-otp-login-form .form-group{
    margin-left: 0px;
    margin-right: 0px;
}
#kc-otp-login-form .form-group>.col-xs-12{
    padding-left: 0px;
    padding-right: 0px;
}
#kc-otp-login-form #kc-form-buttons:after{
    display: none;
}
#kc-otp-login-form #kc-form-buttons>div{
    display: flex;
    gap: 6px;
    justify-content: space-around;
    width: 100%;
    position: relative;
}
#kc-otp-login-form #kc-form-buttons>div:after{
    /* content: 'Đăng nhập'; */
    display: block;
    /* text-indent: 0px; */
    text-align: center;
    height: 40px;
    line-height: 40px;
    background: rgba(207, 31, 37, 1);
    text-shadow: none;
    font-size: 16px;
    letter-spacing: 0.5px;
    position: absolute;
    top: 0px;
    left: 0;
    width: calc(100% - 100px);
    color: #fff;
    z-index: 9999;
}
#kc-otp-login-form #kc-form-buttons>div input{
   width: 40px;
}

#kc-otp-login-form #kc-form-buttons>div input[name="resend"]{
    background: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 9H1C0.734784 9 0.48043 8.89464 0.292893 8.70711C0.105357 8.51957 0 8.26522 0 8V2C0 1.73478 0.105357 1.48043 0.292893 1.29289C0.48043 1.10536 0.734784 1 1 1C1.26522 1 1.51957 1.10536 1.70711 1.29289C1.89464 1.48043 2 1.73478 2 2V4.98125C3.93375 2.8 7.32625 0 12 0C17.3525 0 20.5725 3.15875 20.7075 3.2925C20.8955 3.47981 21.0013 3.73412 21.0018 3.99948C21.0023 4.26485 20.8973 4.51953 20.71 4.7075C20.5227 4.89547 20.2684 5.00134 20.003 5.00181C19.7377 5.00227 19.483 4.89731 19.295 4.71C19.2612 4.67625 16.49 2 12 2C7.625 2 4.47125 5.08125 2.93 7H7C7.26522 7 7.51957 7.10536 7.70711 7.29289C7.89464 7.48043 8 7.73478 8 8C8 8.26522 7.89464 8.51957 7.70711 8.70711C7.51957 8.89464 7.26522 9 7 9ZM23 15H17C16.7348 15 16.4804 15.1054 16.2929 15.2929C16.1054 15.4804 16 15.7348 16 16C16 16.2652 16.1054 16.5196 16.2929 16.7071C16.4804 16.8946 16.7348 17 17 17H21.07C19.5287 18.9188 16.375 22 12 22C7.51 22 4.73875 19.3238 4.705 19.29C4.51703 19.1027 4.26235 18.9977 3.99698 18.9982C3.73162 18.9987 3.47731 19.1045 3.29 19.2925C3.10269 19.4805 2.99773 19.7352 2.99819 20.0005C2.99866 20.2659 3.10453 20.5202 3.2925 20.7075C3.4275 20.8413 6.6475 24 12 24C16.6737 24 20.0662 21.2 22 19.0187V22C22 22.2652 22.1054 22.5196 22.2929 22.7071C22.4804 22.8946 22.7348 23 23 23C23.2652 23 23.5196 22.8946 23.7071 22.7071C23.8946 22.5196 24 22.2652 24 22V16C24 15.7348 23.8946 15.4804 23.7071 15.2929C23.5196 15.1054 23.2652 15 23 15Z" fill="%236F6F6F"/></svg>');
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center;
 }
 #kc-otp-login-form #kc-form-buttons>div input[name="cancel"]{
     background: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.7074 18.2925C19.8004 18.3854 19.8741 18.4957 19.9243 18.6171C19.9746 18.7385 20.0005 18.8686 20.0005 19C20.0005 19.1314 19.9746 19.2615 19.9243 19.3829C19.8741 19.5043 19.8004 19.6146 19.7074 19.7075C19.6145 19.8004 19.5042 19.8741 19.3828 19.9244C19.2614 19.9747 19.1313 20.0006 18.9999 20.0006C18.8686 20.0006 18.7384 19.9747 18.6171 19.9244C18.4957 19.8741 18.3854 19.8004 18.2924 19.7075L9.99995 11.4138L1.70745 19.7075C1.5198 19.8951 1.26531 20.0006 0.999946 20.0006C0.734582 20.0006 0.480086 19.8951 0.292446 19.7075C0.104805 19.5199 -0.000610346 19.2654 -0.000610352 19C-0.000610357 18.7346 0.104805 18.4801 0.292446 18.2925L8.5862 10L0.292446 1.70751C0.104805 1.51987 -0.000610352 1.26537 -0.000610352 1.00001C-0.000610352 0.734643 0.104805 0.480147 0.292446 0.292507C0.480086 0.104866 0.734582 -0.000549316 0.999946 -0.000549316C1.26531 -0.000549316 1.5198 0.104866 1.70745 0.292507L9.99995 8.58626L18.2924 0.292507C18.4801 0.104866 18.7346 -0.000549322 18.9999 -0.000549316C19.2653 -0.000549311 19.5198 0.104866 19.7074 0.292507C19.8951 0.480147 20.0005 0.734643 20.0005 1.00001C20.0005 1.26537 19.8951 1.51987 19.7074 1.70751L11.4137 10L19.7074 18.2925Z" fill="rgba(207, 31, 37, 1)"/></svg>');
     background-repeat: no-repeat;
     background-size: 18px;
     background-position: center;
  }
#kc-otp-login-form #kc-form-buttons>div input:first-child{
    width: calc(100% - 100px);
    position: relative;
    z-index: 9999999;
    background: none;
}
.login-pf-header #kc-username{
    display: none;
}

#kc-logout-confirm{
    background: #fff;
    width: 100%;
    max-width: 575px;
    margin: auto;
    padding-top: 100px;
    position: relative;
    padding: 50px 50px 50px;
    box-shadow: 0px 1.643070936203003px 6px 0px rgba(112, 144, 176, 0.15);
    margin-top: 30px;
    border-radius: 16px;
}